<style>

html {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.background {
  background-position: center;
  background-size: cover;
  width: 103%;
  height: 103%;
  position: fixed;
  z-index: -1;
  top: -2%;
  left: -2%;
}

#bg1 {
  filter: blur(4px);
  background-image: url(img/1.jpg);
}

#bg2 {
  filter: blur(4px);
  background-image: url(img/2.jpg);
}

#bg3 {
  background-image: url(img/3.jpg);
}

#bg4 {
  background-image: url(img/4.jpg);
}

body {
  margin: 0;
  /*display: flex;
  flex-direction: column;*/
}

.ns {
  /* No select */
  -webkit-touch-callout: none; /* iOS Safari    */
  -webkit-user-select:   none; /* Safari        */
  -khtml-user-select:    none; /* Konqueror     */
  -moz-user-select:      none; /* Firefox       */
  -ms-user-select:       none; /* IE, Edge      */
  user-select:           none; /* Chrome, Opera */
}

.nav-bar {
  position:            relative;
  min-width:           500px;
  background-color:    #0f283ecc;
  border:              0px solid black;
  border-bottom-width: 1px;
  padding:             4px;
  z-index:             2;
}

.nav-bar p {
  display: inline-block;
  margin: 0;
}

.nav-bar > .left {
  display: inline-block;

}

.nav-bar > .right {
  display: inline-block;
  float:   right;
}

.nav-bar > .left  > div,
.nav-bar > .right > div {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #52b0f7;
  border-radius: 4px;
  padding: 0px 5px;
  background-color: #003A60;
  color: #e0e0e0;
  /*background: linear-gradient(to bottom right, #52b0f7, #2a6491);*/
}


.nav-bar > .left  > div {margin-left:  10px;}
.nav-bar > .right > div {margin-right: 10px;}

.nav-bar > .left  > div:hover,
.nav-bar > .right > div:hover {
  background-color: #1e497b;
  /*background: linear-gradient(to bottom right, #6dbcf8, #2f658e);*/
}

.nav-bar > .left  > div:active,
.nav-bar > .right > div:active {
  background-color: #2a6491;
  /*background: linear-gradient(to bottom right, #3ca5f6, #1e537b);*/
}

.icon-cell {
  width:            32px;
  height:           32px;
  background-size:  cover;
  padding:          0;
}

#results {
  margin:  16px auto 24px auto;
  display: table;
}

#results > table {
  display:         table;
  border-collapse: collapse;
  width:           400px;
}

#results > table > tbody > tr {
  height: 1px;
}

#results > table > tbody > tr:nth-child(1) {
  background-color: #c3f9ff;
}

#results > table > tbody > tr:nth-child(2) {
  background-color: #52b0f7;
}

#results > table > tbody > tr:nth-child(2n+3) {
  background-color: #2a6491;
  color:            white;
}

#results > table > tbody > tr:nth-child(2n+4) {
  background-color: #1e497b;
  color:            white;
}

#results > table, table > tbody > tr > th {
  border: 1px solid black;
}

/*#cal {
  position: relative;
  width:    0;
  height:   0;
  top:      -27px;
  z-index:  1;
}*/

/* cal = Create Account & Login */
.cal {
  display: none;
  position: absolute;
  top: -100px;
  right: 14px;
  width: 200px;
  height: 128px;
  border-radius: 0px 0px 10px 10px;
  margin: 0 auto;
  border: 1px solid black;
  background: linear-gradient(to bottom right, #6bafe3, #0b407d);
}

.cal[type="create-account"] #create-account-extra {display: table-row;}
.cal[type="login"]          #login-extra          {display: table-row;}

.cal[type="null"][status="closed"] #create-account-extra {display: none;}
.cal[type="null"][status="closed"] #login-extra          {display: none; height: 22.67px;}

/*#cal[status="create-account"] #create-account-title {
  display: block;
}

#cal[status="login"] #login-title {
  display: block;
}*/

.cal[status="closed"] {
  display: none;
}

.cal[status="opening"] {
  display: block;
}

.cal[status="open"] {
  display: block;
}

.cal[status="closing"] {
  display: block;
}

#cal-head > table {
  margin:          0;
  border-collapse: collapse;
}

#cal-close {
  position: relative;
  left:     1px;
  top:      1px;
  cursor:   pointer;
}

.cal td:first-child {
  padding-right: 10px;
  cursor:        default;
}

.cal table {
  border-collapse: collapse;
  margin:          0 auto;
  margin-top:      4px;
}

.cal input {
  width: 100px;
}

#login-submit,
#create-account-submit {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
  margin: 6px auto;
  text-align: center;
  background: linear-gradient(to bottom right, #52b0f7, #2a6491);
}

#login-submit:hover,
#create-account-submit:hover {
  background: linear-gradient(to bottom right, #6dbcf8, #2f658e);
}

#login-submit:active,
#create-account-submit:active {
  background: linear-gradient(to bottom right, #3ca5f6, #1e537b);
}

/*#login {
  background-color: cyan;
  height: 300px;
  width: 200px;
  border-radius: 30px 30px 0px 0px;
  margin: 0 auto;
  border: 1px solid black;
}*/

#footer {
  /*position:         relative;*/
  background-color: #0f283ecc;
  border:           0px solid black;
  border-top-width: 1px;
  /*padding:          4px;*/
  margin-top:       6px;

  position: absolute;
  left:     0;
  bottom:   0;
  height:   18px;
  width:    100%;
}

#footer > div {
  color: #52b0f7;
}

#footer > .left {
  display: inline-block;

}

#footer > .right {
  display: inline-block;
  float:   right;
}

</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>|</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the index">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet"    href="/css/theme.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <div class="background" id="<%= background %>"></div>

  <body>
    <div class="nav-bar ns">
      <div class="left">
        <div class="filter" region="ALL">ALL</div>
        <div class="filter" region="NA">NA</div>
        <div class="filter" region="OCE">OCE</div>
        <div class="filter" region="EUW">EUW</div>
        <div class="filter" region="EUNE">EUNE</div>
      </div>
      <div class="right">
          <div id="nav-change-bg">Change BG</div>
        <% if(!login){ %>
          <div id="nav-login">Login</div>
          <div id="nav-register">Register</div>
        <% } else { %>
          <p><%= login["username"] %> (<%= login["group_name"] %>)</p>
          <div id="nav-logout">Logout</div>
        <% } %>
      </div>
    </div>

    <div id="cal">
      <div id="dropdown-login" class="cal" status="closed">
        <table>
          <tr>
            <td>Username</td>
            <td><input id="login-username" type="text"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input id="login-password" type="password"></td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="login-submit">Submit</div>
            </td>
          </tr>
        </table>
      </div>

      <div id="dropdown-create-account" class="cal" status="closed">
        <table>
          <tr>
            <td>Username</td>
            <td><input id="create-account-username" type="text"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input id="create-account-password" type="password"></td>
          </tr>
          <tr>
            <td><abbr title="Type your password again">Confirm</abbr></td>
            <td><input id="create-account-password-2" type="password"></td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="create-account-submit">Submit</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!--
    <table>
      <tr>
        <th>Region</th>
        <th>Tag</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <select id="create-club-region">
            <option>NA</option>
            <option>OCE</option>
            <option>EUW</option>
            <option>EUNE</option>
          </select>
        </td>
        <td>
          <input id="create-club-tag" type="text">
        </td>
        <td>
          <input id="create-club" type="button" value="Create Club">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <select id="delete-club-choice" style="width:100%">
            <% for(var i = 0; i < clubs.length; i++){ var obj = clubs[i]; %>
              <option><%= obj["tag"] %> (<%= obj["region"] %>)</option>
            <% } %>
          </select>
        </td>
        <td>
          <input id="delete-club" type="button" value="Delete Club">
        </td>
      </tr>
    </table>
    -->

     <% if(login != null){ %>
        <table>
          <tr>
            <td>Add to club</td>
            <td><input id="add-to-club-text" type="text"></td>
            <td><input id="add-to-club" type="button" value="Submit"></td>
          </tr>
            <td>Remove from club</td>
            <td>
              <select id="remove-from-club-text">
                <% for(var i = 0; i < clubs.length; i++){
                   var obj=clubs[i]; %>
                  <option><%= obj["summoner_name"] %></option>
                <% } %>
              </select>
            </td>
            <td><input id="remove-from-club" type="button" value="Submit"></td>
          <tr>
          </tr>
        </table>
    <% } %>

    <div id="results" filter="ALL">
      <% for(var i = 0; i < clubs.length; i++){var obj=clubs[i]; %>
        <table tag=<%= obj["tag"] %> region=<%= obj["region"] %>>
          <tr>
            <th colspan="5"><%= obj["tag"] %> (<%= obj["region"] %>)</th>
          </tr>
          <tr>
            <th colspan="2">Name</th>
            <th>Points</th>
            <th>Level</th>
            <th>Last Played</th>
          </tr>
          <% for(var j = 0; j < obj["members"].length; j++){var mem=obj["members"][j]; %>
            <tr>
              <td class="icon-cell" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/<%= apiVersion %>/img/profileicon/<%= mem['summonerIcon'] %>.png);" %></td>
              <td><%= mem["summonerName"]  %></td>
              <td><%= mem["fizzPoints"]    %></td>
              <td><%= mem["summonerLevel"] %></td>
              <td><%= mem["lastPlayed"]    %></td>
            </tr>
          <% } %>
        </table>
      <% } %>
    </div>

    <div id="footer">
      <div class="left">
        <div>Created by <a href="https://google.com">Tundra Fizz</a></div>
      </div>
      <div class="right">
        <div>Change background</div>
      </div>
    </div>
  </body>
</html>

<script>

$("#add-to-club").click(function(){
  var obj = {
    "name"  : $("#add-to-club-text").val(),
    "token" : ""
  };

  $.post("add-to-club", obj, function(data){
    // alert(data);
  });
});

$("#remove-from-club").click(function(){
  var obj = {
    "name"  : $("#remove-from-club-text").val(),
    "token" : ""
  };

  $.post("remove-from-club", obj, function(data){
    // alert(data);
  });
});

$("#create-club").click(function(){
  var obj = {
    "region": $("#create-club-region").val(),
    "tag"   : $("#create-club-tag").val()
  };

  $.post("create-club", obj, function(data){
    if(data["reload"] == "true")
      location.reload();
    if(data["result"] == "failed")
      alert("Invalid region/tag");
  });
});

$("#delete-club").click(function(){
  var temp   = $("#delete-club-choice").val().replace(/[()]/g, "").toLowerCase().split(" ");
  var tag    = temp[0];
  var region = temp[1];

  var obj = {
    "choice": `club_${region}_${tag}`
  };

  $.post("delete-club", obj, function(data){
    if(data["reload"] == "true")
      location.reload();
    if(data["result"] == "failed")
      alert("Invalid region/tag");
  });
});

$("#nav-register").click(function(){
  var statusL  = $("#dropdown-login").attr("status");
  var statusCA = $("#dropdown-create-account").attr("status");

  if(statusL == "closed" && statusCA == "closed"){
    $("#dropdown-create-account").attr("status", "opening");

    $("#dropdown-create-account").animate({
      "top": "+=129"
    }, 350, function(){
      $("#dropdown-create-account").attr("status", "open");
    });
  }

  else if(statusL == "closed" && statusCA == "open"){
    $("#dropdown-create-account").attr("status", "closing");

    $("#dropdown-create-account").animate({
      "top": "-=129"
    }, 350, function(){
      $("#dropdown-create-account").attr("status", "closed");
    });
  }

  else if(statusL == "open" && statusCA == "closed"){
    $("#dropdown-login").attr("status", "closing");

    $("#dropdown-login").animate({
      "top": "-=129"
    }, 350, function(){
      $("#dropdown-login").attr("status", "closed");
      $("#dropdown-create-account").attr("status", "opening");

      $("#dropdown-create-account").animate({
        "top": "+=129"
      }, 350, function(){
        $("#dropdown-create-account").attr("status", "open");
      });
    });
  }
});

$("#nav-login").click(function(){
  var statusL  = $("#dropdown-login").attr("status");
  var statusCA = $("#dropdown-create-account").attr("status");

  if(statusL == "closed" && statusCA == "closed"){
    $("#dropdown-login").attr("status", "opening");

    $("#dropdown-login").animate({
      "top": "+=129"
    }, 350, function(){
      $("#dropdown-login").attr("status", "open");
    });
  }

  else if(statusL == "open" && statusCA == "closed"){
    $("#dropdown-login").attr("status", "closing");

    $("#dropdown-login").animate({
      "top": "-=129"
    }, 350, function(){
      $("#dropdown-login").attr("status", "closed");
    });
  }

  else if(statusL == "closed" && statusCA == "open"){
    $("#dropdown-create-account").attr("status", "closing");

    $("#dropdown-create-account").animate({
      "top": "-=129"
    }, 350, function(){
      $("#dropdown-create-account").attr("status", "closed");
      $("#dropdown-login").attr("status", "opening");

      $("#dropdown-login").animate({
        "top": "+=129"
      }, 350, function(){
        $("#dropdown-login").attr("status", "open");
      });
    });
  }
});

$("#nav-logout").click(function(){
  $.post("logout", function(data){
    if(data["reload"] == "true")
      location.reload();
  });
});

$("#cal-close").click(function(){
  var act_old_ive = $("#cal").attr("act_old_ive");
  if(act_old_ive == "2"){
    $("#cal").attr("act_old_ive", "1");
    $("#cal").fadeOut(500, function(){
      $("#cal").attr("act_old_ive", "0");
      $("#cal").attr("status", "null");
    });
  }
});

$("#cal-submit").click(function(){
  var status = $("#cal").attr("status");
  var obj = {
    "username": $("#cal-username").val(),
    "password": $("#cal-password").val()
  };

  if(status == "create-account"){
    if($("#cal-password").val() != $("#cal-password-2").val()){
      alert("passwords don't match");
      return;
    }else{
      $.post("create-account", obj, function(data){
        alert(data["msg"]);
        if(data["r"])
          $("#nav-login").trigger("click");
      });
    }
  }else if(status == "login"){
    $.post("login", obj, function(data){
      if(data["reload"] == "true")
        location.reload();
      if(data["err"])
        alert(data["err"]);
    });
  }
});

$("#cal input").keypress(function(e){
  if(e.which == 13){
    $("#cal-submit").trigger("click");
  }
});

$(".filter").click(function(){
  var region = $(this).attr("region");

  if(region == "ALL"){
    $("#results > table").css("display", "table");
  }else{
    $("#results > table").css("display", "none");
    $(`#results > table[region="${region}"]`).each(function(){
      $(this).css("display", "table");
    });
  }
});

</script>
