<!DOCTYPE html>
<html lang="en">
  <head>
    <title>|</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the index">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>

    <table>
      <tr>
        <th>Region</th>
        <th>Tag</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <select id="create-club-region">
            <option>NA</option>
            <option>OCE</option>
            <option>EUW</option>
            <option>EUNE</option>
          </select>
        </td>
        <td>
          <input id="create-club-tag" type="text">
        </td>
        <td>
          <input id="create-club" type="button" value="Create Club">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <select id="delete-club-choice" style="width:100%">
            <% for(var i = 0; i < clubs.length; i++){ var obj = clubs[i]; %>
              <option><%= obj["tag"] %> (<%= obj["region"] %>)</option>
            <% } %>
          </select>
        </td>
        <td>
          <input id="delete-club" type="button" value="Delete Club">
        </td>
      </tr>
    </table>

    <% if(!login){ %>
    <div>
      <div>
        <input id="username" type="text">
        <input id="password" type="password">
        <input id="login"    type="button" value="Login">
      </div>
    </div>
    <% } else { %>
      <div>
        <%= login["user"] %> (<%= login["group_name"] %>)
        <input id="logout" type="button" value="Logout">
      </div>
    <% } %>

    <% for(var i = 0; i < 0; i++){ %>
    <% } %>

<!--     <% if(login["club_leader"]) { %>
        <table>
          <tr>
            <td>Add to club</td>
            <td><input id="add-to-club-text" type="text"></td>
            <td><input id="add-to-club" type="button" value="Submit"></td>
          </tr>
            <td>Remove from club</td>
            <td>
              <select id="remove-from-club-text">
                <% for(var i = 0; i < login["clubs"].length; i++){
                   var obj=login["clubs"][i]; %>
                  <option><%= obj["summoner_name"] %></option>
                <% } %>
              </select>
            </td>
            <td><input id="remove-from-club" type="button" value="Submit"></td>
          <tr>
          </tr>
        </table>
      </div>
    <% } %>
-->

    <div class="content">
      <!-- <p>Click the button</p> -->
      <input id="yolo" type="button" value="Press me">
    </div>

    <div class="results">
      <table>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Level</th>
          <th>Icon</th>
          <th>Last last_played</th>
        </tr>
        <% for(var i = 0; i < tables.length; i++){var obj=tables[i]; %>
          <tr>
            <td><%= obj["summoner_name"] %></td>
            <td><%= obj["fizz_points"]   %></td>
            <td><%= obj["summoner_level"]%></td>
            <td><%= obj["summoner_icon"] %></td>
            <td><%= obj["last_played"]   %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>

<script>

$("#yolo").click(function(){
  $.post("testing", function(html){
    // $(".results").html(html);
    console.log(document.cookie);
  });
});

$("#add-to-club").click(function(){
  var obj = {
    "name"  : $("#add-to-club-text").val(),
    "token" : ""
  };

  $.post("add-to-club", obj, function(data){
    // alert(data);
  });
});

$("#remove-from-club").click(function(){
  var obj = {
    "name"  : $("#remove-from-club-text").val(),
    "token" : ""
  };

  $.post("remove-from-club", obj, function(data){
    // alert(data);
  });
});

$("#login").click(function(){
  var obj = {
    "username": $("#username").val(),
    "password": $("#password").val()
  };

  $.post("login", obj, function(data){
    if(data["reload"] == "true")
      location.reload();
  });
});

$("#logout").click(function(){
  $.post("logout", function(data){
    if(data["reload"] == "true")
      location.reload();
  });
});

$("#create-club").click(function(){
  var obj = {
    "region": $("#create-club-region").val(),
    "tag"   : $("#create-club-tag").val()
  };

  $.post("create-club", obj, function(data){
    if(data["reload"] == "true")
      location.reload();
    if(data["result"] == "failed")
      alert("Invalid region/tag");
  });
});

$("#delete-club").click(function(){
  var temp   = $("#delete-club-choice").val().replace(/[()]/g, "").toLowerCase().split(" ");
  var tag    = temp[0];
  var region = temp[1];

  var obj = {
    "choice": `club_${region}_${tag}`
  };

  $.post("delete-club", obj, function(data){
    if(data["reload"] == "true")
      location.reload();
    if(data["result"] == "failed")
      alert("Invalid region/tag");
  });
});

</script>
